div {
    display:block;
}

header {
    color:white;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    vertical-align:middle;
    margin-bottom:5%;
    height:10%;
    text-indent:3%;
    position:relative;
    display:block;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.summary {
    display:none;
}
.portraitHeader {
    display:none;
}
header div {
    float:left;
    max-width:50%;
    max-height:100%;
    vertical-align:text-bottom;
    margin-top:5%;
}
.container {
	margin:5px;
	width:1200px !important;
}
.container .mainmenu {
    margin-top:auto;
}
.container .mainmenu nav {
    background-color: #666;
    height: 40px;
    font-family:Roboto, Arial, Serif;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.container .mainmenu nav ul, .subcontainer ul {
    list-style: none;
    margin: auto;
	float:left;
}
.container .mainmenu nav ul li, .subcontainer ul li {
    float: left;
    display: inline;
}
.container .mainmenu nav a:link, .container .mainmenu nav a:visited {
    color: #FFF;
    display: inline-block;
    padding: 10px;
    height: 40px;
}
.container .mainmenu nav a:hover, .container .mainmenu nav a:active, .container .mainmenu nav .active a:link, .container .mainmenu nav .active a:visited {
    background-color: silver;
    text-shadow: none;
}
.container .mainmenu nav ul li a {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
#searchBox {
    position:relative;
    display:block;
	float:right;
    padding-top:7px;
	padding-right:4px;
}
#searchBox input {
    padding-right:auto;
    margin-bottom:1%;
}
#J1
{
  display: none;
}
#N1
{
  display: none;
}
#courselist {
    position:relative;
    margin-bottom:auto;
    margin-top:1%;
    /*  background:#00FFFF;*/
    float:left;
    height:107%;
    width:40%;
    overflow:visible;
    color:white;
    border-radius:5px;
    font-family:Roboto, Arial, Serif;
    background:#0cbafc;
    opacity:0.7;
    min-width:10%
}
#courselistContents {
    display:block;
    margin-left:auto;
    margin-right:auto;
}
#courseListContents a {
    font-weight:300;
    color:Black;
    margin-left:3%;
    padding:-1em;
}
.diarytags
{
	color:black;
	border:2px solid white;
	position:absolute;
	height:10%;
	width:5%;
	background:red;
	float:right;
	right:-5%;
	top:2%;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
#diaryJ2
{
	top:12%;
	background:#0cbafc;
	z-index:3;
	opacity:1;
	width:7%;
	right:-7%;
}
#diaryJ1
{
	top:2%;
	background:#0cbafc;
	z-index:1;
	opacity:0.7;
}
#diaryN1
{
	top:22%;
	background:#0cbafc;
	z-index:1;
	opacity:0.7;	
}
.diaryTagText
{
	margin-top:60%;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	font-family:Roboto, Arial, Serif;
}
div h3 {
    font-family:Roboto, Verdana, sans-serif;
    text-align:center;
}
ul {
    margin-left:10%
}
#footer {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    text-align: center;
    background-color: silver;
    color: black;
    margin-top: 40px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    clear: both;
}
/*----------Course Info Box----------------*/
 .infoBox {
    background:white;
    float:right;
    height:20%;
    width:50%;
    margin-top:1%;
    /*border-radius*/
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    font-family:Roboto, sans-serif;
    position:relative;
}
.infoDetails {
    margin-left:2%;
    margin-top: auto;
    margin-bottom: auto;
    max-width:50%;
    position:relative;
    float:left;
    max-height:80%;
    max-width: 50%;
    position: relative;
    top: 19%;
}
.infoDetails p{
  margin: auto
}
.infoImage {
    height:80%;
    width:35%;
	min-height:50px;
	min-width:50px;
    float:left;
    /*border-radius*/
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    margin-top:2%;
    margin-left:2%;
    overflow:hidden;
}
.infoImageSource {
    max-height:80%;
    max-width:70%;
    margin-right:auto;
    /*border-radius*/
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}





/*--------------------------- Flip Toggle Switch CSS -----------------------------*/
.onoffswitch {
    position: relative; width: 90px;
    margin-left: 1%;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
	float:left;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 0px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 26px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    border: 2px solid transparent;
    background-clip: padding-box;
}
.onoffswitch-inner:before {
    content: "";
    padding-left: 10px;
    background-color: #2E8DEF; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "";
    padding-right: 10px;
/*    background-color: #CCCCCC;
	color: #333333;*/
	background-color:#2E8DEF;
	color:#FFFFFF;	
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 25px; margin: 0px;
    background: #000000;
	
    position: absolute; top: 0; bottom: 0; right: 65px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

.switchContainer
{
	position:relative;
	top:-15px;
	border-radius:5px;
	display:block;
	height:10%;
	width:100%;
	margin-bottom:5%;
}

/*------------TABS---------------*/
#cont1
{
	display:inline;
}
.box {
    position:relative;
	display:none;
    height:78%;
    width:50%;
    float:right;
    /*border:2px solid black;*/
    margin-top:5%;
    margin-bottom:auto;
	border-radius:5px;
}
/*
.tabs {
    position: relative;
    min-height: 97%;
    clear: both;
    margin: 2% 0;
}

.tab {
    float: left;

}
.tab label {
    display:none;
    background: #eee;
    padding: 10px;
    border: 1px solid #ccc;
    margin-left: -1px;
    position: relative;
    left: 1px;
}*/
.summary {
    display:none;
}
/*.tab[type=radio] {
    display: none;
}
.tab input
{
  display:none;
}*/
.content {
	margin-top:5%;
    position: absolute;
    top: 28px;
    left: 0;
    background: white;
    right: 0;
    bottom: 0;
    padding: 20px;
	border-radius:5px;
    overflow:auto;
    border: 1px solid #ccc;
    font-family: Roboto, sans-serif;
}
/*[type=radio]:checked ~ label {
    background: white;
    border-bottom: 1px solid white;
    z-index: 2;
}
[type=radio]:checked ~ label ~ .content {
    z-index: 1;
}
*/
